/* display */

._1grZJYNXgmkeXTetqMScKl {
  display: block;
}

._3dHb_uE5Y0zGUy6_rUs92_ {
  display: inline;
}

.SAgu0Fqtvxm8y4e4AMQKd {
  display: inline-block;
}

._2qZvl3P3BWuEAs4nHkMYit {
  display: table;
}

/* overflow */

._7T7KI5OSHAXb5wyUBQ0q9 {
  overflow: hidden;
}

._1UEB1Kn1f87-xYcU532Qv1 {
  overflow: scroll;
}

.-IeJTj2XmxsVf8CQGb6bw {
  overflow-x: scroll;
  overflow-y: hidden;
}

._1rd6IzCPev1bi8BXEqhMEZ {
  overflow-x: hidden;
  overflow-y: scroll;
}

._1PqBMi4fUCZaV8h4KxGy7_ {
  overflow: auto;
}

._3e_-LpupUwOe-SK70L6vvL {
  max-width: 100%;
}

/* position */

._1dQvMpJxLyZeJ_6yOfMYkA {
  position: relative;
}

._35AFFJm65U3eGa_w-lzu3g {
  position: fixed;
}

._2FU-BSJKlKqKRTSdaP0HMy {
  position: absolute;
}

._28L29Lfk-Ft27NCgbRVI9B {
  /*
    IE11 Fallback: when sticky is not supported, fall back to relative positioning.
    We do this so if there is a zIndex set on sticky, the stacking context will be correct
  */
  position: relative;
  position: sticky;
}

._10u7sCRbUzM1001VFEzZsl {
  top: 0;
}

._1-2Q4DiS9fAXmJSOvEhxFj {
  right: 0;
}

._3nXe5f8yrfiFvQhvymzaAL {
  bottom: 0;
}

.ahqMx4jiSu3e12c2qydC1 {
  left: 0;
}

/* size */

._2YILDjKzxBPdkA1Dlp2bA1 {
  min-height: 36px;
}

._249qRkwgmr80xe665XF_Zs {
  min-height: 40px;
}

.HG9WyuBCWK9eIAGH0UStu {
  min-height: 48px;
}

/* box model */

._3k5NAEUxBvotE4yOfgrWns {
  box-sizing: border-box;
}

._1ghfVFEYdHhNaHNFH1lgF9 {
  box-sizing: content-box;
}

._1nU83R8KQhHVMnJ9jry1BV {
  display: flex;
}

@media (--sm) {
  .iPpl1GQ5vfet-loxgRxjW {
    display: flex;
  }
}

@media (--md) {
  ._1WLGpsgWzS1-WV70hgZ35Q {
    display: flex;
  }
}

@media (--lg) {
  ._2Aa0K4o3B-_borXE9GNcYg {
    display: flex;
  }
}

._2teZB9cPjoocgMWYSOKy2q {
  flex-direction: column;
}

._2kI7OmQSersTRSwcWWKzdM {
  flex-wrap: wrap;
}

._31i9nhOHtPLfUz5YCysy91 {
  align-items: flex-start;
}

._1ffXU3hEbKEx7-mzX0BQe9 {
  align-items: flex-end;
}

._20lyQcDZPAiGPqbIbvfDdo {
  align-items: center;
}

._2Cat7JkxUhPNaI1qD9efRb {
  align-items: baseline;
}

._2DkyWai4dOxmXJnPD70ct_ {
  align-items: stretch;
}

.HltbedgKjyyfrFNB9t2tv {
  align-self: flex-start;
}

._1PJ1pUksTevR5_jwfXe69L {
  align-self: flex-end;
}

._1gO4JnK5DKp_k5mOv-Gn4l {
  align-self: center;
}

._14oNzi9Z6IYkaQDWda2hKS {
  align-self: baseline;
}

._1lj5MgEGmsUSNCNiXFbKRo {
  align-self: stretch;
}

._1xza774D_UaoGwS1pDbgMr {
  justify-content: flex-start;
}

._2JdlxPVS_pSYPi4Y3jd0zt {
  justify-content: flex-end;
}

._38ye_v3jUQQGmUFddosnY2 {
  justify-content: center;
}

.s-2x3lJtRprfMq9AA2aS6 {
  justify-content: space-between;
}

._2SGbhjazKJDzHNz1WsXaAJ {
  justify-content: space-around;
}

.kRrs9oL3S7GxoG-CUFrJz {
  align-content: flex-start;
}

.JBT3FoIWcRn4aPN9FFqKH {
  align-content: flex-end;
}

.Xw5arax58n6taO2ReqRni {
  align-content: center;
}

._2wdw5ZPWr8Klzsvndqhagi {
  align-content: space-between;
}

.I7GIUZXUJDYEmr5jrIHQW {
  align-content: space-around;
}

._1T8d0k2kL55flkFEx4gLwZ {
  align-content: stretch;
}

/* Fix for Chrome 44 bug: https://code.google.com/p/chromium/issues/detail?id=506893 */

._1x_ZXdK8Q3Fy0DSPmgEQfS {
  flex: 1 1 auto;

  /* 1 */
  min-height: 0;
  min-width: 0;
}

._334mXLqWEKz6urLF12i5Hk {
  flex: 0 0 auto;
}

._1AuaGqpPOSpeZYt-4uZsoF {
  order: -1;
}

._3A-28QWCD2cXiQwB3inL28 {
  order: 99999;
}
:root {
  /* primary colors */
  --red: #bd081c;
  --white: #fff;
  --lightGray: #efefef;
  --gray: #8e8e8e;
  --darkGray: #333;

  /* secondary colors */
  --green: #0fa573;
  --pine: #0a6955;
  --olive: #364a4c;
  --blue: #4a90e2;
  --navy: #004b91;
  --midnight: #133a5e;
  --purple: #b469eb;
  --orchid: #8046a5;
  --eggplant: #5b2677;
  --maroon: #6e0f3c;
  --watermelon: #f13535;
  --orange: #e3780c;
}

/** PRIMARY COLORS **/

/* red */

._1iA5aJegdNvKUGeI8PIFZp {
  color: var(--red);
}

._13IN0J04dkbcWDbCg36oU1 {
  background-color: var(--red);
}

/* white */

._2zcDSJhrdGEJYNBHxxMZnj {
  color: var(--white);
}

._1R7b4ysG7Oyn4xYv1qolwk {
  background-color: var(--white);
}

/* lightGray */

._1dlEFeuNVsU_BRpaw3m6l1 {
  color: var(--lightGray);
}

._3JdWT5pr1rdVVeUI2d7_JW {
  background-color: var(--lightGray);
}

/* gray */

.mFjIhaKUmCAoZXxrc9xjb {
  color: var(--gray);
}

._1Ctg81DJ8VOXUKA0SmwfK5 {
  background-color: var(--gray);
}

/* darkGray */

._2YxQz6EPikfn0hRaSTUJRf {
  color: var(--darkGray);
}

.LJngYAPZ7MNLWYbZWOGl {
  background-color: var(--darkGray);
}

/** SECONDARY COLORS **/

/* green */

._3iZxaYwBDBMVQP6UP4tgQr {
  color: var(--green);
}

._2tvQfDgXKsl7xJ-IPbNUyj {
  background-color: var(--green);
}

/* pine */

._5qvar5s6SDJSaczkB6lIJ {
  color: var(--pine);
}

._3xjy-2hI0lCUSZKX-beaau {
  background-color: var(--pine);
}

/* olive */

._1OFrqHjQboytrFSnz5A3gY {
  color: var(--olive);
}

._2wgNUW7wlK3cVhZTdnz94I {
  background-color: var(--olive);
}

/* blue */

._3EEYQiUIDZhw0GtxwS0T2C {
  color: var(--blue);
}

.QDK53ee4Fu0OYs--fFp6q {
  background-color: var(--blue);
}

/* navy */

._3HVUE9uuxIt7R-r4yIHFd4 {
  color: var(--navy);
}

.qJp5EB2vacmxhAy9cOHq {
  background-color: var(--navy);
}

/* midnight */

._1r16h1euOYiAoD5XkeQveQ {
  color: var(--midnight);
}

._2CJDyXptHdkHncOHf9aeft {
  background-color: var(--midnight);
}

/* purple */

.n17GJh8yGyOeABAB3yKvj {
  color: var(--purple);
}

._3QVwe5lJXBLVbJ4a4rM4PH {
  background-color: var(--purple);
}

/* orchid */

._3n21epchSnJ5Ta2wr6-Qef {
  color: var(--orchid);
}

.VAJ4qMRspzFINPI19W9lz {
  background-color: var(--orchid);
}

/* eggplant */

.IR4s2ITQ9VLtOQ4s_5i3x {
  color: var(--eggplant);
}

._3YsyoXruYP_SKN4RUxm2tR {
  background-color: var(--eggplant);
}

/* maroon */

.o9jOCOUw93LbDz4l7w0Ey {
  color: var(--maroon);
}

._3YMHmPyXqojiaElK0ZFxE9 {
  background-color: var(--maroon);
}

/* watermelon */

._3osqPdizxuai8WuiwK9XeT {
  color: var(--watermelon);
}

.CT62mJ1308-QLs5r9UCV_ {
  background-color: var(--watermelon);
}

/* orange */

._3ZGReL8AZLHtak38sP73ku {
  color: var(--orange);
}

.BxuAjLF69yVACvOemb0KB {
  background-color: var(--orange);
}

/* transparent */

.wQn59MCz1C4-irq1RuO9A {
  background-color: transparent;
}

/* light wash */

._2u5qMXo8qJoX1c2TGo7Sjh {
  background-color: color(var(--lightGray) blackness(+ 6%));
}

._2adzFiGO1rEaviuVCbgcpV {
  background-color: color(var(--lightGray) blackness(+ 10%));
}
/* aliasing */

._2OPDL5NVIqf46yYZExi1xd {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

/* fonts */

._2Qm64-32R2lL90kNC3MQW {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto Oxygen-Sans,
    Ubuntu, Cantarell, “Fira Sans”, “Droid Sans”, "Helvetica Neue", Helvetica,
    "\30D2\30E9\30AE\30CE\89D2\30B4   Pro W3", "Hiragino Kaku Gothic Pro", "\30E1\30A4\30EA\30AA", Meiryo,
    "\FF2D\FF33   \FF30\30B4\30B7\30C3\30AF", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

:lang(ja) ._2Qm64-32R2lL90kNC3MQW {
  font-family: "SF Pro JP", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto Oxygen-Sans, Ubuntu, Cantarell, “Fira Sans”, “Droid Sans”,
    "Helvetica Neue", Helvetica, "\30D2\30E9\30AE\30CE\89D2\30B4   Pro W3",
    "Hiragino Kaku Gothic Pro", "\30E1\30A4\30EA\30AA", Meiryo, "\FF2D\FF33   \FF30\30B4\30B7\30C3\30AF", Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  quotes: "\300C" "\300D";
}

/* kerning */

._1D4tInaplYuoDRMdYUwvV9 {
  letter-spacing: -0.4px;
}

/* leading */

.vlOjSx5JsI-Z7Op5Z5ZUK {
  line-height: 1.2;
}

._2Wg46tHLeH1DBqWzAMYmOF {
  line-height: 1.5;
}

/* font weight */

._1TgZpWFgR8btG43IPik3wr {
  font-weight: normal;
}

._50QrckChwn-GBwhaEr7nn {
  font-weight: 700;
}

/* emphasis */

._1wsGD4kzwWiVXkcXDcm5pp {
  font-style: normal;
}

._3H7zNwmfxn4Pc8TjVJRa8Y {
  font-style: italic;
}

/* decorations */

._2T1fGKD9d97i6nZB1MX3hR {
  text-decoration: underline;
}

._2-gkwNXVLrPUXKIu5yL1Xc {
  text-decoration: none;
}

/* overflow */

._1W0JrtGAEph4LRlkV9LO8i {
  hyphens: auto;
  word-wrap: break-word;
}

._3fcxEOcrl2rtGJ-Cgp0nxG {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* alignment */

html:not([dir="rtl"]) ._1esYV7EBdVKm6TA9365ZgG {
  text-align: left;
}

html[dir="rtl"] ._1esYV7EBdVKm6TA9365ZgG {
  text-align: right;
}

html:not([dir="rtl"]) ._26VFICvzNTbrCsNWeojit- {
  text-align: right;
}

html[dir="rtl"] ._26VFICvzNTbrCsNWeojit- {
  text-align: left;
}

._3rhasrRVpG_PVo_7FgN7WT {
  text-align: center;
}

._2R-tG784G0JO7WFMo_xH_R {
  text-align: justify;
}
/*
This file was generated by running

  $ /Users/chrislloyd/.nvm/versions/node/v9.2.1/bin/node /Users/chrislloyd/src/gestalt/scripts/text.js

*/

:root {
  --font-size-1: 12px;
  --font-size-2: 14px;
  --font-size-3: 16px;
  --font-size-4: 18px;
  --font-size-5: 21px;
}

._15vndBcaNewDpEcQ-Yupyj {
}

._1EDxp9fKG0AANSa7wtyXo {
  font-size: var(--font-size-1);
}

._2SDuun2R8QcGlsQPcXp_X0 {
  font-size: var(--font-size-2);
}

.phRD3MXHbRzHTBuDt3s2s {
  font-size: var(--font-size-3);
}

._3JWwfbSCof0kU74U-PbuIA {
  font-size: var(--font-size-4);
}

._3N7eLFHNoleiA0XqaQy8gn {
  font-size: var(--font-size-5);
}

@media (--sm) {
  ._3KsZYfUAtIiSbZHAQU86J0 {
    font-size: var(--font-size-1);
  }

  ._1swxuDPI0ZgFTkNJ_wwKus {
    font-size: var(--font-size-2);
  }

  ._2kEL4Zr27zpxvd5nQSM5ad {
    font-size: var(--font-size-3);
  }

  ._76Wd4skaNPeTszNTF5g7s {
    font-size: var(--font-size-4);
  }

  ._11VJDfzkFURhRCG9q_f-ST {
    font-size: var(--font-size-5);
  }
}

@media (--md) {
  ._3dV2i20WUYlDmxNyYwDA0h {
    font-size: var(--font-size-1);
  }

  ._1rzl7nzzRh5VyOqWDpNjje {
    font-size: var(--font-size-2);
  }

  .HQ9zR0YkBg22VfWwfyS9e {
    font-size: var(--font-size-3);
  }

  .Sjv4UVEcJLVJppqP4LTFB {
    font-size: var(--font-size-4);
  }

  ._2wEqRnMgr3mS0Qnya_nblo {
    font-size: var(--font-size-5);
  }
}

@media (--lg) {
  ._2lIuaIbT2BMbY9ZFwc0LO_ {
    font-size: var(--font-size-1);
  }

  ._2rv78vzNTFVqJSTrFW5OKU {
    font-size: var(--font-size-2);
  }

  ._3tLlR453opMr5zzi4k-a4K {
    font-size: var(--font-size-3);
  }

  ._1lHaIymyrs3wpjsuD1oCM5 {
    font-size: var(--font-size-4);
  }

  ._3e4WHYeB_ic0hMv7cjlUKd {
    font-size: var(--font-size-5);
  }
}
:root {
  --ncols: 12;
}

._1iDDpBtUKmqXdQmpJ5BDmE {
  vertical-align: top;
}

._2GiSeHGE7y3FNQt-yViOEf {
  width: calc(1 / var(--ncols) * 100%);
}

.eWl8SPPbtOA08ZgsmqRB_ {
  width: calc(2 / var(--ncols) * 100%);
}

._1CFZNeXQqVGPjiGRHO1oHd {
  width: calc(3 / var(--ncols) * 100%);
}

._3OGBXq7pCiBbYAO8g_59Gf {
  width: calc(4 / var(--ncols) * 100%);
}

._3vEe53V9WgJTQh9Yi_pDAZ {
  width: calc(5 / var(--ncols) * 100%);
}

._3jrOYvKuoGIE1Ldfat8K05 {
  width: calc(6 / var(--ncols) * 100%);
}

._1jXKvSy1pKt39jnchy171T {
  width: calc(7 / var(--ncols) * 100%);
}

.ohE0xipDPNrw31GZDIulE {
  width: calc(8 / var(--ncols) * 100%);
}

._3I5r4hEAdKv_S6Ck7WSTcM {
  width: calc(9 / var(--ncols) * 100%);
}

._2-Rpvda-CUzu7PCUDlFsY1 {
  width: calc(10 / var(--ncols) * 100%);
}

.bJyddUA-Vr5L1gw-b91CA {
  width: calc(11 / var(--ncols) * 100%);
}

._3tAqCiyDxTRCvDVWOlelkv {
  width: calc(12 / var(--ncols) * 100%);
}

@media (--sm) {
  ._3feEKlHMNS8dWtEokGSDCM {
    width: calc(1 / var(--ncols) * 100%);
  }

  .iM0hj4TNMf7j4CM28pKM3 {
    width: calc(2 / var(--ncols) * 100%);
  }

  .bs6ysdJD-3IiESA1fCYXd {
    width: calc(3 / var(--ncols) * 100%);
  }

  ._1bRgUkzaCtEPBvV6e5M4Pv {
    width: calc(4 / var(--ncols) * 100%);
  }

  ._24mcllcSmUlzrblVcW_9Wn {
    width: calc(5 / var(--ncols) * 100%);
  }

  ._2gzkVlpCJrH1oLmH16eqL2 {
    width: calc(6 / var(--ncols) * 100%);
  }

  .t4tw_K1GaS1gGTbP7stjg {
    width: calc(7 / var(--ncols) * 100%);
  }

  .D5HFbufQz4Fm5an894bHk {
    width: calc(8 / var(--ncols) * 100%);
  }

  .hoM8cRWwFj_MTQOsYVKbi {
    width: calc(9 / var(--ncols) * 100%);
  }

  ._1ZGB2X2UbbCRnTHr88qfPD {
    width: calc(10 / var(--ncols) * 100%);
  }

  ._3ouWCog7PTPVGe-L7bpx4v {
    width: calc(11 / var(--ncols) * 100%);
  }

  ._1pyxG2wqw7dQYHwxf8_edd {
    width: calc(12 / var(--ncols) * 100%);
  }
}

@media (--md) {
  .FrNcB67OuPdHurbzo-Xv_ {
    width: calc(1 / var(--ncols) * 100%);
  }

  ._2eVExKYmSIcLGyetbS3mJ0 {
    width: calc(2 / var(--ncols) * 100%);
  }

  ._1bCsdZ3BfZABheCerwboAI {
    width: calc(3 / var(--ncols) * 100%);
  }

  ._2UVkw4D6B1FHqdDsfQkbCK {
    width: calc(4 / var(--ncols) * 100%);
  }

  ._3e16RJGqeZqDLetTR1qw5G {
    width: calc(5 / var(--ncols) * 100%);
  }

  ._1nSpSRKkZpPrg_eVPkpor6 {
    width: calc(6 / var(--ncols) * 100%);
  }

  ._2ojptDzcriLOpQ76Hz1lHR {
    width: calc(7 / var(--ncols) * 100%);
  }

  .PPt8hUcHBvu3Tdfr1EG_l {
    width: calc(8 / var(--ncols) * 100%);
  }

  ._2OCW8NmiuyZQX_2OywA54r {
    width: calc(9 / var(--ncols) * 100%);
  }

  ._3Ds5t0KB2UmC1U6M3iPQ3j {
    width: calc(10 / var(--ncols) * 100%);
  }

  ._2Fwqx5Q7WkMBuniNqKJUGo {
    width: calc(11 / var(--ncols) * 100%);
  }

  ._7eucC-h-4ND7LOmr8w_5x {
    width: calc(12 / var(--ncols) * 100%);
  }
}

@media (--lg) {
  ._2zjtpHLZUMiYjwcnYOV43Q {
    width: calc(1 / var(--ncols) * 100%);
  }

  ._1YIDTvxkhm4Hm_oIj7XfjF {
    width: calc(2 / var(--ncols) * 100%);
  }

  ._3HpzhFCpo8YP0M5sKYeSFV {
    width: calc(3 / var(--ncols) * 100%);
  }

  ._1aoB8ozxZmEnB7xHI3KNXn {
    width: calc(4 / var(--ncols) * 100%);
  }

  ._-0vP6vH2EaoN9IjRZM9MB {
    width: calc(5 / var(--ncols) * 100%);
  }

  ._2LWXooT3zOSsDBTQzCiPYG {
    width: calc(6 / var(--ncols) * 100%);
  }

  ._2aKs6shEwOdMToRZksexoZ {
    width: calc(7 / var(--ncols) * 100%);
  }

  ._3iBubzdHLu4wEb2yfg2PAm {
    width: calc(8 / var(--ncols) * 100%);
  }

  ._1ncshAlvImSXon17-6hlNn {
    width: calc(9 / var(--ncols) * 100%);
  }

  .jxK1-kWlc65EZWb6xjve0 {
    width: calc(10 / var(--ncols) * 100%);
  }

  ._3EusbNHx2p9y313fhn718Y {
    width: calc(11 / var(--ncols) * 100%);
  }

  ._1YGi5-dd--MKAzfTT-szfM {
    width: calc(12 / var(--ncols) * 100%);
  }
}
/* aliasing */

._2OPDL5NVIqf46yYZExi1xd {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

/* fonts */

._2Qm64-32R2lL90kNC3MQW {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto Oxygen-Sans,
    Ubuntu, Cantarell, “Fira Sans”, “Droid Sans”, "Helvetica Neue", Helvetica,
    "\30D2\30E9\30AE\30CE\89D2\30B4   Pro W3", "Hiragino Kaku Gothic Pro", "\30E1\30A4\30EA\30AA", Meiryo,
    "\FF2D\FF33   \FF30\30B4\30B7\30C3\30AF", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

:lang(ja) ._2Qm64-32R2lL90kNC3MQW {
  font-family: "SF Pro JP", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto Oxygen-Sans, Ubuntu, Cantarell, “Fira Sans”, “Droid Sans”,
    "Helvetica Neue", Helvetica, "\30D2\30E9\30AE\30CE\89D2\30B4   Pro W3",
    "Hiragino Kaku Gothic Pro", "\30E1\30A4\30EA\30AA", Meiryo, "\FF2D\FF33   \FF30\30B4\30B7\30C3\30AF", Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  quotes: "\300C" "\300D";
}

/* kerning */

._1D4tInaplYuoDRMdYUwvV9 {
  letter-spacing: -0.4px;
}

/* leading */

.vlOjSx5JsI-Z7Op5Z5ZUK {
  line-height: 1.2;
}

._2Wg46tHLeH1DBqWzAMYmOF {
  line-height: 1.5;
}

/* font weight */

._1TgZpWFgR8btG43IPik3wr {
  font-weight: normal;
}

._50QrckChwn-GBwhaEr7nn {
  font-weight: 700;
}

/* emphasis */

._1wsGD4kzwWiVXkcXDcm5pp {
  font-style: normal;
}

._3H7zNwmfxn4Pc8TjVJRa8Y {
  font-style: italic;
}

/* decorations */

._2T1fGKD9d97i6nZB1MX3hR {
  text-decoration: underline;
}

._2-gkwNXVLrPUXKIu5yL1Xc {
  text-decoration: none;
}

/* overflow */

._1W0JrtGAEph4LRlkV9LO8i {
  hyphens: auto;
  word-wrap: break-word;
}

._3fcxEOcrl2rtGJ-Cgp0nxG {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* alignment */

html:not([dir="rtl"]) ._1esYV7EBdVKm6TA9365ZgG {
  text-align: left;
}

html[dir="rtl"] ._1esYV7EBdVKm6TA9365ZgG {
  text-align: right;
}

html:not([dir="rtl"]) ._26VFICvzNTbrCsNWeojit- {
  text-align: right;
}

html[dir="rtl"] ._26VFICvzNTbrCsNWeojit- {
  text-align: left;
}

._3rhasrRVpG_PVo_7FgN7WT {
  text-align: center;
}

._2R-tG784G0JO7WFMo_xH_R {
  text-align: justify;
}
:root {
  --border-width: 1px;
  --border-color: #efefef;
  --border-radius: 8px;
}

/* Border lines */

._2xU9q14dO2ZFB5ojyDcfSE {
  border: var(--border-width) solid var(--border-color);
}

._1Vua585qPEkYX1zl5RYZzu {
  border-top: var(--border-width) solid var(--border-color);
}

html:not([dir="rtl"]) .wAwYlM6SKUCZz1Qef78Jn {
  border-right: var(--border-width) solid var(--border-color);
}

html[dir="rtl"] .wAwYlM6SKUCZz1Qef78Jn {
  border-left: var(--border-width) solid var(--border-color);
}

._3SvfVrtnZxdGM_15xEs6BO {
  border-bottom: var(--border-width) solid var(--border-color);
}

html:not([dir="rtl"]) ._3_Q0L7nzD8c6CCrAQL7T5b {
  border-left: var(--border-width) solid var(--border-color);
}

html[dir="rtl"] ._3_Q0L7nzD8c6CCrAQL7T5b {
  border-right: var(--border-width) solid var(--border-color);
}

/* Border radii */

._3UT7PPu6gfIZ5InrTb65Fw {
  border-radius: 0;
}

._2pfoK-OcfnJYuB-Q7zKJ9- {
  border-radius: 50%;
}

._2ZNGmnxFPVPQFadLCbdEC1 {
  border-radius: 999px;
}

._3pP1R9WdtTfb7nJ0xI4pnp {
  border-radius: var(--border-radius);
}

.J6z3yLj09-J_pWOByiUKb {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

html:not([dir="rtl"]) ._3Gn8CdAddfzu2bInrF3WPw {
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

html[dir="rtl"] ._3Gn8CdAddfzu2bInrF3WPw {
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.T166dgEmfx_htsZ0f0Nyl {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

html:not([dir="rtl"]) ._3qBnRj7Q94hORxbkoTl8W5 {
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}

html[dir="rtl"] ._3qBnRj7Q94hORxbkoTl8W5 {
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

._3Hx9JJzEC-dArgEMysNj5p {
  border: 0;
}
._2YdEJGHA4epWlIflVm0d:focus {
  box-shadow: 0 0 0 4px rgba(0, 132, 255, 0.5);
  outline: 0;
}

._37QIrxmwqJWrzAbbitq-il {
  box-shadow: 0 0 0 4px rgba(0, 132, 255, 0.5);
  outline: 0;
}
._34KqIYERQF3GvSK1GXFl35 {
  cursor: pointer;
}

._1uhNGdPmT8p9dtDDgw5Pos {
  cursor: zoom-in;
}

._1JZamI9wAbpBHjlRO4s4Ij {
  cursor: zoom-out;
}

._3vwZGx9Fd1G5W6ZXiLvDqu {
  cursor: copy;
}

._2500KFpmSPfG4D2v-9-cZq {
  cursor: move;
}

.kjsbB3jmDTIcyjs_rA73B {
  cursor: no-drop;
}

._3taJi1V9baFoBYFGl3tSCr {
  cursor: grab;
}

._37V6Ab7krmUqbBOotlpAKH {
  cursor: grabbing;
}
:root {
  /* primary colors */
  --red: #bd081c;
  --white: #fff;
  --lightGray: #efefef;
  --gray: #8e8e8e;
  --darkGray: #333;

  /* secondary colors */
  --green: #0fa573;
  --pine: #0a6955;
  --olive: #364a4c;
  --blue: #4a90e2;
  --navy: #004b91;
  --midnight: #133a5e;
  --purple: #b469eb;
  --orchid: #8046a5;
  --eggplant: #5b2677;
  --maroon: #6e0f3c;
  --watermelon: #f13535;
  --orange: #e3780c;
}

/** PRIMARY COLORS **/

/* red */

._1iA5aJegdNvKUGeI8PIFZp {
  color: var(--red);
}

._13IN0J04dkbcWDbCg36oU1 {
  background-color: var(--red);
}

/* white */

._2zcDSJhrdGEJYNBHxxMZnj {
  color: var(--white);
}

._1R7b4ysG7Oyn4xYv1qolwk {
  background-color: var(--white);
}

/* lightGray */

._1dlEFeuNVsU_BRpaw3m6l1 {
  color: var(--lightGray);
}

._3JdWT5pr1rdVVeUI2d7_JW {
  background-color: var(--lightGray);
}

/* gray */

.mFjIhaKUmCAoZXxrc9xjb {
  color: var(--gray);
}

._1Ctg81DJ8VOXUKA0SmwfK5 {
  background-color: var(--gray);
}

/* darkGray */

._2YxQz6EPikfn0hRaSTUJRf {
  color: var(--darkGray);
}

.LJngYAPZ7MNLWYbZWOGl {
  background-color: var(--darkGray);
}

/** SECONDARY COLORS **/

/* green */

._3iZxaYwBDBMVQP6UP4tgQr {
  color: var(--green);
}

._2tvQfDgXKsl7xJ-IPbNUyj {
  background-color: var(--green);
}

/* pine */

._5qvar5s6SDJSaczkB6lIJ {
  color: var(--pine);
}

._3xjy-2hI0lCUSZKX-beaau {
  background-color: var(--pine);
}

/* olive */

._1OFrqHjQboytrFSnz5A3gY {
  color: var(--olive);
}

._2wgNUW7wlK3cVhZTdnz94I {
  background-color: var(--olive);
}

/* blue */

._3EEYQiUIDZhw0GtxwS0T2C {
  color: var(--blue);
}

.QDK53ee4Fu0OYs--fFp6q {
  background-color: var(--blue);
}

/* navy */

._3HVUE9uuxIt7R-r4yIHFd4 {
  color: var(--navy);
}

.qJp5EB2vacmxhAy9cOHq {
  background-color: var(--navy);
}

/* midnight */

._1r16h1euOYiAoD5XkeQveQ {
  color: var(--midnight);
}

._2CJDyXptHdkHncOHf9aeft {
  background-color: var(--midnight);
}

/* purple */

.n17GJh8yGyOeABAB3yKvj {
  color: var(--purple);
}

._3QVwe5lJXBLVbJ4a4rM4PH {
  background-color: var(--purple);
}

/* orchid */

._3n21epchSnJ5Ta2wr6-Qef {
  color: var(--orchid);
}

.VAJ4qMRspzFINPI19W9lz {
  background-color: var(--orchid);
}

/* eggplant */

.IR4s2ITQ9VLtOQ4s_5i3x {
  color: var(--eggplant);
}

._3YsyoXruYP_SKN4RUxm2tR {
  background-color: var(--eggplant);
}

/* maroon */

.o9jOCOUw93LbDz4l7w0Ey {
  color: var(--maroon);
}

._3YMHmPyXqojiaElK0ZFxE9 {
  background-color: var(--maroon);
}

/* watermelon */

._3osqPdizxuai8WuiwK9XeT {
  color: var(--watermelon);
}

.CT62mJ1308-QLs5r9UCV_ {
  background-color: var(--watermelon);
}

/* orange */

._3ZGReL8AZLHtak38sP73ku {
  color: var(--orange);
}

.BxuAjLF69yVACvOemb0KB {
  background-color: var(--orange);
}

/* transparent */

.wQn59MCz1C4-irq1RuO9A {
  background-color: transparent;
}

/* light wash */

._2u5qMXo8qJoX1c2TGo7Sjh {
  background-color: color(var(--lightGray) blackness(+ 6%));
}

._2adzFiGO1rEaviuVCbgcpV {
  background-color: color(var(--lightGray) blackness(+ 10%));
}
:root {
  --blue: #4a90e2;
  --darkGray: #333;
  --red: #bd081c;
  --lightGray: #efefef;
  --white: #fff;
}

._2zk6clhggelTXBypu-oCzq {
  border-radius: 4px;
}

._3oZKG5q6VC9D4gob3ol47P {
}

._3qC5D3FSHQXQx8a_S4ZF44 {
}

._8Mgnufh_-zqHr4hp-TBFC {
  padding: 8px 14px;
}

._3zW6NS27djJ464Grpgb2m8 {
  padding: 10px 14px;
}

.BrLhnuvGTFGNLqqKsiB3P {
  padding: 12px 14px;
}

._1qC6MBBa-fSgYbSHOaINeQ {
}

._4gP3BYigGVoN66uOtD3t3 {
}

._3-Hda2uektL7yUtZVt2hXn {
  cursor: default;
}

._3WzOGxKLWQ6G2WoA3cHa9y {
}

._3WzOGxKLWQ6G2WoA3cHa9y:hover,
._3WzOGxKLWQ6G2WoA3cHa9y:focus {
  background-color: color(var(--lightGray) blackness(+ 6%));
}

._3WzOGxKLWQ6G2WoA3cHa9y:active {
  background-color: color(var(--lightGray) blackness(+ 10%));
}

._3Kfwflu7o0-vCmHef7lkF9 {
}

._3Kfwflu7o0-vCmHef7lkF9:hover,
._3Kfwflu7o0-vCmHef7lkF9:focus {
  background-color: color(var(--red) blackness(+ 6%));
}

._3Kfwflu7o0-vCmHef7lkF9:active {
  background-color: color(var(--red) blackness(+ 10%));
}

._1F7no6QVoKQ-TvT3spFCh- {
}

._1F7no6QVoKQ-TvT3spFCh-:hover,
._1F7no6QVoKQ-TvT3spFCh-:focus {
  background-color: color(var(--blue) blackness(+ 6%));
}

._1F7no6QVoKQ-TvT3spFCh-:active {
  background-color: color(var(--blue) blackness(+ 10%));
}

._2rK1NyuPgG2s4FjgdI-SQ6 {
  border: 1px solid #fff;
}

._2rK1NyuPgG2s4FjgdI-SQ6:hover,
._2rK1NyuPgG2s4FjgdI-SQ6:focus {
  background-color: rgba(0, 0, 0, 0.06);
}

._2rK1NyuPgG2s4FjgdI-SQ6:active {
  background-color: rgba(0, 0, 0, 0.1);
}

._2PtIatB2YJkibLKDCg2sKc {
}

._2PtIatB2YJkibLKDCg2sKc:hover,
._2PtIatB2YJkibLKDCg2sKc:focus {
  background-color: color(var(--white) blackness(+ 6%));
}

._2PtIatB2YJkibLKDCg2sKc:active {
  background-color: color(var(--white) blackness(+ 10%));
}
